<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>642771067532-c3u2ree73b1rtsn5nktsmrlla5tb8m9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642771067532-c3u2ree73b1rtsn5nktsmrlla5tb8m9e</string>
	<key>API_KEY</key>
	<string>AIzaSyB8DYBV3j9pVc8cKsky5vHoYKZ3TNeje3g</string>
	<key>GCM_SENDER_ID</key>
	<string>642771067532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NMC.VideoApp</string>
	<key>PROJECT_ID</key>
	<string>appvideo-b841c</string>
	<key>STORAGE_BUCKET</key>
	<string>appvideo-b841c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642771067532:ios:b576c4c53c241394</string>
	<key>DATABASE_URL</key>
	<string>https://appvideo-b841c.firebaseio.com</string>
</dict>
</plist>